[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flet = {extras = ["all"], version = "*"}
nuitka = "*"
zstandard = "*"
flet-audio = "*"

[dev-packages]

[requires]
python_version = "3.12"
